extends layout

block content
    .row
        #frontLeftRed(data-bind='if: frontLeft() >= 3')
            .col-lg-3.col-md-6
                .panel.panel-red
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Front Left
                                div Adjust Fit

        #frontLeftYellow(data-bind='if: frontLeft() == 2')
            .col-lg-3.col-md-6
                .panel.panel-yellow
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Front Left
                                div Adjust Fit

        #frontLeftGreen(data-bind='if: frontLeft() == 1')
            .col-lg-3.col-md-6
                .panel.panel-green
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Front Left
                                div Ready

        #frontRightRed(data-bind='visible: frontRight() > 3 ')
            .col-lg-3.col-md-6
                .panel.panel-red
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Front Right
                                div Adjust Fit

        #frontRightYellow(data-bind='visible: frontRight() == 2 ')
            .col-lg-3.col-md-6
                .panel.panel-yellow
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Front Right
                                div Adjust Fit

        #frontRightYellow(data-bind='visible: frontRight() == 1 ')
            .col-lg-3.col-md-6
                .panel.panel-green
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Front Right
                                div Ready

        #leftEarGreen(data-bind='visible: leftEar() > 3 ')
            .col-lg-3.col-md-6
                .panel.panel-red
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Left Ear
                                div Adjust Fit

        #leftEarYellow(data-bind='visible: leftEar() == 2 ')
            .col-lg-3.col-md-6
                .panel.panel-yellow
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Left Ear
                                div Adjust Fit

        #leftEarRed(data-bind='visible: leftEar() == 1 ')
            .col-lg-3.col-md-6
                .panel.panel-green
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Left Ear
                                div Ready

        #rightEarGreen(data-bind='visible: rightEar() > 3 ')
            .col-lg-3.col-md-6
                .panel.panel-red
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Right Ear
                                div Adjust Fit

        #rightEarYellow(data-bind='visible: rightEar() == 2 ')
            .col-lg-3.col-md-6
                .panel.panel-yellow
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Right Ear
                                div Adjust Fit

        #rightEarRed(data-bind='visible: rightEar() == 1 ')
            .col-lg-3.col-md-6
                .panel.panel-green
                    .panel-heading
                        .row
                            .col-xs-3
                                i.fa.fa-exclamation-triangle.fa-5x
                            .col-xs-9.text-right
                                .huge Right Ear
                                div Ready


        .row
        .col-lg-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-bar-chart-o
                            span &nbsp Mellow Rating

                .panel-body
                    .flot-chart
                        #mellow-graph.flot-chart-content

        .col-lg-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-bar-chart-o
                            span &nbsp Concentration Rating

                .panel-body
                    .flot-chart
                        #concentration-graph.flot-chart-content

        .col-lg-6
            .panel.panel-green
                .panel-heading
                    h3.panel-title
                        i.fa.fa-bar-chart-o
                            span &nbsp Blink

                .panel-body
                    .flot-chart
                        #blink-graph.flot-chart-content

        .col-lg-6
            .panel.panel-green
                .panel-heading
                    h3.panel-title
                        i.fa.fa-bar-chart-o
                            span &nbsp Jaw Clench

                .panel-body
                    .flot-chart
                        #clench-graph.flot-chart-content

        script(src='js/index.js')

