extends layout

block content
    .row
        .col-lg-3.col-md-6
            .panel.panel-red
                .panel-heading
                    .row
                        .col-xs-3
                            i.fa.fa-exclamation-triangle.fa-5x
                        .col-xs-9.text-right
                            .huge Front Left
                            div Adjust Fit

        .col-lg-3.col-md-6
            .panel.panel-red
                .panel-heading
                    .row
                        .col-xs-3
                            i.fa.fa-exclamation-triangle.fa-5x
                        .col-xs-9.text-right
                            .huge Front Right
                            div Adjust Fit

        .col-lg-3.col-md-6
            .panel.panel-red
                .panel-heading
                    .row
                        .col-xs-3
                            i.fa.fa-exclamation-triangle.fa-5x
                        .col-xs-9.text-right
                            .huge Left Ear
                            div Adjust Fit

        .col-lg-3.col-md-6
            .panel.panel-red
                .panel-heading
                    .row
                        .col-xs-3
                            i.fa.fa-exclamation-triangle.fa-5x
                        .col-xs-9.text-right
                            .huge Right Ear
                            div Adjust Fit


        .row
        .col-lg-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-bar-chart-o
                            span &nbsp Mellow Rating

                .panel-body
                    .flot-chart
                        #mellow-graph.flot-chart-content

        .col-lg-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-bar-chart-o
                            span &nbsp Concentration Rating

                .panel-body
                    .flot-chart
                        #concentration-graph.flot-chart-content

        .col-lg-6
            .panel.panel-green
                .panel-heading
                    h3.panel-title
                        i.fa.fa-bar-chart-o
                            span &nbsp Blink

                .panel-body
                    .flot-chart
                        #blink-graph.flot-chart-content

        .col-lg-6
            .panel.panel-green
                .panel-heading
                    h3.panel-title
                        i.fa.fa-bar-chart-o
                            span &nbsp Jaw Clench

                .panel-body
                    .flot-chart
                        #clench-graph.flot-chart-content
