doctype html(lang='en')
head
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content='')

    meta(name='author', content='')

    title Radiance
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/sb-admin.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='css/plugins/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')

      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
body
    #wrapper
        // Navigation
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.sr-only Toggle navigation

                    span.icon-bar

                    span.icon-bar

                    span.icon-bar

                a.navbar-brand(href='index.html') Radiance
            // Top Menu Items
            ul.nav.navbar-right.top-nav
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-envelope

                        b.caret

                    ul.dropdown-menu.message-dropdown
                        li.message-preview
                            a(href='#')
                                .media
                                    span.pull-left
                                        img.media-object(src='http://placehold.it/50x50', alt='')

                                    .media-body
                                        h5.media-heading
                                            strong John Smith

                                        p.small.text-muted
                                            i.fa.fa-clock-o
                                                Yesterday at 4:32 PM

                                        p Lorem ipsum dolor sit amet, consectetur...

                        li.message-preview
                            a(href='#')
                                .media
                                    span.pull-left
                                        img.media-object(src='http://placehold.it/50x50', alt='')

                                    .media-body
                                        h5.media-heading
                                            strong John Smith

                                        p.small.text-muted
                                            i.fa.fa-clock-o
                                                Yesterday at 4:32 PM

                                        p Lorem ipsum dolor sit amet, consectetur...

                        li.message-preview
                            a(href='#')
                                .media
                                    span.pull-left
                                        img.media-object(src='http://placehold.it/50x50', alt='')

                                    .media-body
                                        h5.media-heading
                                            strong John Smith

                                        p.small.text-muted
                                            i.fa.fa-clock-o
                                                Yesterday at 4:32 PM

                                        p Lorem ipsum dolor sit amet, consectetur...

                        li.message-footer
                            a(href='#') Read All New Messages

                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-bell

                        b.caret

                    ul.dropdown-menu.alert-dropdown
                        li
                            a(href='#')
                                Alert Name
                            span.label.label-default Alert Badge

                        li
                            a(href='#')
                                Alert Name
                            span.label.label-primary Alert Badge

                        li
                            a(href='#')
                                Alert Name
                            span.label.label-success Alert Badge

                        li
                            a(href='#')
                                Alert Name
                            span.label.label-info Alert Badge

                        li
                            a(href='#')
                                Alert Name
                            span.label.label-warning Alert Badge

                        li
                            a(href='#')
                                Alert Name
                            span.label.label-danger Alert Badge

                        li.divider

                        li
                            a(href='#') View All

                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-user
                            John Smith
                        b.caret

                    ul.dropdown-menu
                        li
                            a(href='#')
                                i.fa.fa-fw.fa-user
                                    Profile

                        li
                            a(href='#')
                                i.fa.fa-fw.fa-envelope
                                    Inbox

                        li
                            a(href='#')
                                i.fa.fa-fw.fa-gear
                                    Settings

                        li.divider

                        li
                            a(href='#')
                                i.fa.fa-fw.fa-power-off
                                    Log Out
            // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav.side-nav
                    li.active
                        a(href='/')
                            i.fa.fa-fw.fa-dashboard
                            span Dashboard

                    li
                        a(href='/controls')
                            i.fa.fa-fw.fa-bar-chart-o
                            span Controls


            // /.navbar-collapse

        #page-wrapper
            .container-fluid
                // Page Heading
                .row
                    .col-lg-12
                        h1.page-header
                            Dashboard
                        small Statistics Overview

                        ol.breadcrumb
                            li.active
                                i.fa.fa-dashboard
                                    Dashboard

                // /.row
                .row
                    .col-lg-3.col-md-6
                        .panel.panel-primary
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.fa-comments.fa-5x

                                    .col-xs-9.text-right
                                        .huge 26

                                        div New Comments!

                            a(href='#')
                                .panel-footer
                                    span.pull-left View Details

                                    span.pull-right
                                        i.fa.fa-arrow-circle-right

                                    .clearfix

                    .col-lg-3.col-md-6
                        .panel.panel-green
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.fa-tasks.fa-5x

                                    .col-xs-9.text-right
                                        .huge 12

                                        div New Tasks!

                            a(href='#')
                                .panel-footer
                                    span.pull-left View Details

                                    span.pull-right
                                        i.fa.fa-arrow-circle-right

                                    .clearfix

                    .col-lg-3.col-md-6
                        .panel.panel-yellow
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.fa-shopping-cart.fa-5x

                                    .col-xs-9.text-right
                                        .huge 124

                                        div New Orders!

                            a(href='#')
                                .panel-footer
                                    span.pull-left View Details

                                    span.pull-right
                                        i.fa.fa-arrow-circle-right

                                    .clearfix

                    .col-lg-3.col-md-6
                        .panel.panel-red
                            .panel-heading
                                .row
                                    .col-xs-3
                                        i.fa.fa-support.fa-5x

                                    .col-xs-9.text-right
                                        .huge 13

                                        div Support Tickets!

                            a(href='#')
                                .panel-footer
                                    span.pull-left View Details

                                    span.pull-right
                                        i.fa.fa-arrow-circle-right

                                    .clearfix
                // /.row
                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-bar-chart-o.fa-fw
                                        Area Chart

                            .panel-body
                                #morris-area-chart
                // /.row
                .row
                    .col-lg-4
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-long-arrow-right.fa-fw
                                        Donut Chart

                            .panel-body
                                #morris-donut-chart

                                .text-right
                                    a(href='#')
                                        View Details
                                    i.fa.fa-arrow-circle-right

                    .col-lg-4
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-clock-o.fa-fw
                                        Tasks Panel

                            .panel-body
                                .list-group
                                    a.list-group-item(href='#')
                                        span.badge just now

                                        i.fa.fa-fw.fa-calendar
                                            Calendar updated

                                    a.list-group-item(href='#')
                                        span.badge 4 minutes ago

                                        i.fa.fa-fw.fa-comment
                                            Commented on a post

                                    a.list-group-item(href='#')
                                        span.badge 23 minutes ago

                                        i.fa.fa-fw.fa-truck
                                            Order 392 shipped

                                    a.list-group-item(href='#')
                                        span.badge 46 minutes ago

                                        i.fa.fa-fw.fa-money
                                            Invoice 653 has been paid

                                    a.list-group-item(href='#')
                                        span.badge 1 hour ago

                                        i.fa.fa-fw.fa-user
                                            A new user has been added

                                    a.list-group-item(href='#')
                                        span.badge 2 hours ago

                                        i.fa.fa-fw.fa-check
                                            Completed task: &quot;pick up dry cleaning&quot;

                                    a.list-group-item(href='#')
                                        span.badge yesterday

                                        i.fa.fa-fw.fa-globe
                                            Saved the world

                                    a.list-group-item(href='#')
                                        span.badge two days ago

                                        i.fa.fa-fw.fa-check
                                            Completed task: &quot;fix error on sales page&quot;

                                .text-right
                                    a(href='#')
                                        View All Activity
                                    i.fa.fa-arrow-circle-right

                    .col-lg-4
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-money.fa-fw
                                        Transactions Panel

                            .panel-body
                                .table-responsive
                                    table.table.table-bordered.table-hover.table-striped
                                        thead
                                            tr
                                                th Order #

                                                th Order Date

                                                th Order Time

                                                th Amount (USD)

                                        tbody
                                            tr
                                                td 3326

                                                td 10/21/2013

                                                td 3:29 PM

                                                td $321.33

                                            tr
                                                td 3325

                                                td 10/21/2013

                                                td 3:20 PM

                                                td $234.34

                                            tr
                                                td 3324

                                                td 10/21/2013

                                                td 3:03 PM

                                                td $724.17

                                            tr
                                                td 3323

                                                td 10/21/2013

                                                td 3:00 PM

                                                td $23.71

                                            tr
                                                td 3322

                                                td 10/21/2013

                                                td 2:49 PM

                                                td $8345.23

                                            tr
                                                td 3321

                                                td 10/21/2013

                                                td 2:23 PM

                                                td $245.12

                                            tr
                                                td 3320

                                                td 10/21/2013

                                                td 2:15 PM

                                                td $5663.54

                                            tr
                                                td 3319

                                                td 10/21/2013

                                                td 2:13 PM

                                                td $943.45

                                .text-right
                                    a(href='#')
                                        View All Transactions
                                    i.fa.fa-arrow-circle-right
                // /.row
            // /.container-fluid
        // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Morris Charts JavaScript
    script(src='js/plugins/morris/raphael.min.js')

    script(src='js/plugins/morris/morris.min.js')

    script(src='js/plugins/morris/morris-data.js')
