.light-icon {
    color: white;
    font-size: 150px;
    text-align: center;
    
}

.radiance-nav {
    overflow:hidden;
}

.controls-header {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

#lights-linked {
    display: inline-block;
    margin-left: 10px;
}